.box{
    background-color: white;
    opacity: 1.5;
    width: 500px ;
    height: 600px;
    /* margin: 500px; */
    box-shadow: 10px,10px ;
    border: 10px solid hsl(0, 36%, 95%);
    /* padding: ;    */
    border-radius: 20px;
    border-color: white;
}
.bo{
    border-radius: 20px;
    background-color: rgb(29,209,161);
    transform: translate(160px , -22px);
}
img{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 10%;
}